<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subdjango</title>
</head>
<body>
<style>
    body {
       background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjNx5sULSdhyfLfb0Zk03LtJ3J6BA7aPrspQ&s");
       background-size: 100% 100%;
       background-attachment: fixed;
    }
</style>
</body>
<body>
    
    {% block content %}
    
    {%endblock%}
</body>

</html>